/* MessageCard.module.css */

.messagesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
    padding: 0px 20px;
  }
  
  .topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0px;

  }
  
  .topAvatar {
    margin: 10px;
    margin-left: 100px;
  }
  .topAvatar img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.startPar {
    text-align: center;
}

.topParagraf {
    flex-grow: 1;
    font-weight: bold;
    margin-right: 120px;
}
.topAvatar h3 {
    margin: 0;
    line-height: 40px;
}
  
  .messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 40vh; /* Ajustați înălțimea maximă după preferințe */
    overflow-y: auto;
    border: 1px solid #800080; /* Border fin de culoarea mov */
    border-radius: 5px; /* Optional: colțuri ușor rotunjite */
  }
  
  .message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .messageHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .messageHeader img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .messageContent {
    display: flex;
    flex-direction: column;
  }
  
  .messageContent p {
    margin: 0;
  }
  
  .messageDate {
    font-size: 0.8em;
    color: gray;
    align-self: flex-end;
  }
  
  .sent {
    align-self: flex-end;
    background-color: #e1ffc7;
  }
  
  .received {
    align-self: flex-start;
    background-color: #f1f1f1;
  }
  
  .messageFormContainer {
    width: 100%;
    margin-bottom: 15px;
  }
  