.postContainer {
  margin: 0;
  width: 100%; /* Ensure the container takes full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.postCard {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 340px;
  border-radius: 5px;
  position: relative;
  /* width: calc(100% - 40px); Adjust width to account for padding */
  width: 60%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.recommandationPlace {
  margin: 0px 0px 20px 0; /* Adjust margins as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  width: 57%;
  margin-left: 340px;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.avatar {
  margin-right: 10px;
}

.mentioned {
  margin-left: 10px;
}

.avatarImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.username {
  flex-grow: 1;
}

.usernameH3 {
  margin: 0;
  line-height: 40px;
}

.deleteButton {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #c9302c;
}

.deleteButton:active {
  background-color: #26005E; /* Culoarea mov la click */
}

.middleRow {
  text-align: center;
  margin-bottom: 10px;
}

.middleRowImg {
  max-width: 100%;
  height: auto;
}

.contentRow {
  margin-bottom: 10px;
}

.postContentP {
  margin: 0;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeComment {
  display: flex;
  align-items: center;
}

.likeCommentImg {
  width: 30px;
  height: 30px;
  margin-left: 0px;
  margin-right: 10px;
}

.postDate {
  font-weight: bold;
  margin: 0 10px 0 0;
}

.searchResultItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatarProfile {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

p {
  margin: 0;
}

.highlight {
  font-weight: bold;
  color: #800080; /* Purple color */
}

.word {
  margin-right: 5px; /* Add space between words */
}

.postImage {
  width: 100%;
  max-width: 700px; /* or any desired size */
  height: 500px !important; /* maintain aspect ratio */
  object-fit: cover; /* optional: to cover the space without distorting the image */
  border: 2px solid #ccc; /* 2px border with #ccc color */
  border-radius: 8px; /* rounded corners for a nicer look */
}

.likesModal {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
