.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.postCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.middleRow img {
    max-width: 100%;
    height: auto;
    display: block;
}

.contentRow {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.postContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.postContent p {
    margin: 0;
}

.noImage .postContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
