.group-info {
    text-align: center;
}

.group-image {
    width: 100%;
    max-height: 300px; /* Ajustează înălțimea imaginii la nevoie */
}

.group-name {
    font-size: 24px;
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
}

.group-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.group-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
