.search-result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .avatar-profile {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  p {
    margin: 0;
  }

  .search-result-item-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .group-details {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .group-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .group-info p {
    margin: 5px 0;
  }
  