.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #26005E;
  color: rgb(240, 243, 255);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  z-index: 1000;
}

.navRight {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.searchBox {
  display: flex;
  align-items: center;
}

.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchIcon,
.dropdownIcon {
  width: 30px;
  height: 30px;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  z-index: 1;
  left: -82px;
  top: 30px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdownContent {
  display: block;
}
