.placeMentionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeMentionContainer p {
    color: #155724;
}

.mentionIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.placeMention {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 40px;
}

.select, .input {
    width: 150%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;

}

.suggestionItem:hover {
    background-color: #f0f0f0;
}

.submitText {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: not-allowed;
}

.submitText.enabled {
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.confirmationMessage {
    margin-top: 10px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-left: 10px;
}
